<h1>Admin Categories</h1>

<ul>
  <% @categories.each do |category| %>
  <li><%= link_to category.topic, admin_category_path(category.id) %></li>

  <% end %>
</ul>

<p>
  <%= link_to "Create a New Category", new_admin_category_path %>
</p>

<p>
  <%= link_to "See All Categories", admin_categories_path %>
</p>
